@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    overflow-x: hidden;
}

body {
    background-color: #f0f3fa;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1c1c1c;
    width: 100%;
    height: 100px;
}

.title {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.logo-container {
    width: 5%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}

.logo-container :hover {
    cursor: pointer;
}

.logo-img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-name-container {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}

.site-name-text-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-name-p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.find-nearest-repositories-button-container {
    width: 20%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: right;
}

.find-nearest-repositories-button-body {
    border: 2px solid white;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.find-nearest-repositories-button-body:hover {
    border: 2px solid #FFFFFF;
    background-image: -webkit-linear-gradient(top, #2d2d2d, #1c1c1c);
    background-image: -moz-linear-gradient(top, #2d2d2d, #1c1c1c);
    background-image: -o-linear-gradient(top, #2d2d2d, #1c1c1c);
    background-image: -ms-linear-gradient(top, #2d2d2d, #1c1c1c);
    background-image: linear-gradient(top, #2d2d2d, #1c1c1c);
    color: #FFFFFF;
    cursor: pointer;
}

.content-container {
    height: auto;
    width: 100%;
}

.form-container {
    height: 100%;
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    padding: 3% 5%;

    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.field-container {
    width: 100%;

}

.field-name {
    width: 100%;
    padding-bottom: 6%;
}

.field-value-box {
    width: 100%;
    padding-bottom: 6%;
}

.field-decryption {
    width: 100%;
    padding-bottom: 12%;
}

input[type="text"] {
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #2d2d2d;
    font-size: 18px;
    font-family: "Open Sans Regular", sans-serif;
}

/*input:focus {*/
/*    border-color: #1c1c1c*/
/*}*/